@import "local-fonts";

@font-face {
   font-family: "Montserrat-Light";

   src: url("../fonts/Montserrat-Light.woff") format("woff"),      /* Modern Browsers */ 
   url("../fonts/Montserrat-Light.woff2") format("woff2"); /* Modern Browsers */
   font-weight: 300;
}

@font-face {
   font-family: "Montserrat-Regular";

   src: url("../fonts/Montserrat-Regular.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
   font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Bold";

  src: url("../fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
   font-family: "Montserrat-Black";

   src: url("../fonts/Montserrat-Black.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/Montserrat-Black.woff2") format("woff2"); /* Modern Browsers */
   font-weight: 900;
   font-display: swap;
}
@font-face {
  font-family: "ProximaNova-Regular";

  src: url("../fonts/12093.woff") format("woff"), /* Modern Browsers */
    url("../fonts/12093.woff2") format("woff2"); /* Modern Browsers */
  font-weight:400;
}
@font-face {
  font-family: "ProximaNova-Black";

  src: url("../fonts/11094.woff") format("woff"), /* Modern Browsers */
    url("../fonts/11094.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 900;
}
@font-face {
  font-family: "ProximaNova-Bold";

  src: url("../fonts/11096.woff") format("woff"), /* Modern Browsers */
    url("../fonts/11096.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 800;  
}