@import "fonts";
@import "vars";
@import "global";
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
.header {
   position: relative;
   &__top {
      min-height: 110px;
      background-color: #1c3051;
      border-bottom: 7px solid $orange;
      z-index: 2;
      position: fixed;
      width: 100%;
      top: 0px;
      left: 0px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 0px 27px;
      height: 100%;
   }
   &__logo {
      width: 218px;
      height: 48px;
      color: #fff;
      padding-top: 8px;
      margin-right: 20px;
   }
   &__text {
      color: #b4c1d5;
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 17px;
      width: 108px;
      border-left: 1px solid #3b5072;
      padding: 5px 0 0 20px;
      margin-right: 80px;
   }
   &__link {
      margin-right: auto;
      li {
         display: inline-block;
         a {
            color: #fff;
            font-size: 14px;
            font-family: "Montserrat-Regular";
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
               transform: scale(1.1);
               color: $orange;
            }
         }
         & + li {
            margin-left: 20px;
         }
      }
   }
   &__phone {
      font-family: "Montserrat-Black";
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      align-items: center;
      position: relative;
      &:hover {
         transform: scale(1.1);
         color: $orange;
      }
      &::before {
         content: "";
         background: url(../images/icons/icon-tel.png) left no-repeat;
         padding: 6px 0 0 35px;
         position: absolute;
         width: 21px;
         height: 25px;
         left: -31px;
      }
      &::after {
         content: "";
         background: url(../images/icons/icon-arrow.png) right no-repeat;
         padding: 0 0 0 24px;
      }
   }
}
.header-content {
   min-height: 720px;
   &__inner {
      max-width: 660px;
      padding-top: 195px;
      position: relative;
   }
   &__title {
      font-size: 94px;
      @include m900;
      color: #fff;
      margin-bottom: 20px;
      text-transform: uppercase;
   }
   &__subtitle {
      font-size: 33px;
      color: #1c3051;
      @include p900;
      text-transform: uppercase;
      margin-bottom: 50px;
   }
   &__btn {
      display: flex;
      border-radius: 33px;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      background-color: $orange;
      padding: 16px;
      @include m900;
      width: 266px;
      height: 66px;
      cursor: pointer;
      align-items: center;
      img {
         align-items: center;
         margin-right: 15px;
         width: 35px;
         height: 35px;
      }
      &:hover {
         transform: scale(1.1);
      }
   }
   &__img {
      position: absolute;
      margin-right: auto;
      width: 622px;
      left: 730px;
      top: 98px;
      z-index: 1;
   }
}
.header-send {
   background-image: url(../images/content/base.jpg);
   height: 308px;

   &__inner {
      position: relative;
      padding-top: 70px;
   }
   &__img {
      position: absolute;
      top: -62px;
      left: -60px;
   }
   &__form {
      margin-left: 280px;
   }
   &__title {
      font-family: "ProximaNova-Bold", sans-serif;
      font-weight: 800;
      font-size: 21px;
      text-transform: uppercase;
      color: #fff;
      line-height: 30px;
      margin-bottom: 5px;
   }
   &__subtitle {
      font-family: "ProximaNova-Regular", sans-serif;
      color: #fff;
      text-transform: uppercase;
      line-height: 30px;
      margin-bottom: 50px;
   }
   input {
      height: 64px;
      width: 304px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 33px;
      margin-right: 20px;
      color: #fff;
      padding: 20px;
      &::placeholder {
         font-size: 14px;
         color: #fff;
         font-family: "Montserrat-Light", sans-serif;
         padding: 20px;
      }
   }
   button {
      width: 196px;
      height: 66px;
      color: #000;
      background-color: #fff;
      border-radius: 33px;
      border: transparent;
      font-size: 14px;
      color: #474747;
      @include m900;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
         transform: scale(1.1);
      }
   }
}
//start services
.services {
   margin-bottom: 120px;
   &__title {
      margin: 110px 0 95px;
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 105px 45px 85px;
      border: 1px solid $orange;
      position: relative;
   }
   &__subtitle,
   &__subsubtitle {
      font-size: 31px;
      color: $main;
      padding: 0px 13px 0px 15px;
      background-color: #fff;
      text-transform: uppercase;
      position: absolute;
   }
   &__subtitle {
      left: 255px;
      top: -20px;
   }
   &__subsubtitle {
      right: 255px;
      top: -20px;
   }
   &__item {
      text-align: center;
   }
   &__img {
      margin-bottom: 20px;
   }
   &__name {
      font-size: 14px;
      line-height: 28px;
      color: $main;
      text-transform: uppercase;
   }
}
//end services
//start free-quote
.free-quote {
   min-height: 785px;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 3;
   .container {
      position: relative;
      &.free-quote__inner {
         background-color: transparent;
      }
   }
   &__wrapper {
      display: flex;
   }
   &__content {
      flex: 0 0 386px;
      width: 100%;
      padding-top: 90px;
      margin-right: 90px;
   }
   &__content-title {
      font-size: 21px;
      color: #fff;
      font-family: "ProximaNova-Bold", sans-serif;
      text-transform: uppercase;
      letter-spacing: -1px;
      line-height: 30px;
      margin-bottom: 65px;
   }
   &__content-text {
      font-size: 16px;
      line-height: 26px;
      color: #fff;
   }
   // &__form {
   //    width: 694px;
   //    // background-color: $orange;
   //    // min-height: 811px;
   //    z-index: -1;
   //    // position: absolute;
   //    // top: -105px;
   //    // right: 0;
   // }
   &__inner {
      max-width: 700px;
      padding-top: 100px;
      min-height: 787px;
      background-color: transparent;
   }
   &__form-title {
      font-size: 33px;
      color: #fff;
      letter-spacing: -1px;
      line-height: 33px;
      @include p800;
      text-transform: uppercase;
      margin-bottom: 60px;
   }

   &__form-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      input,
      textarea,
      button {
         background-color: transparent;
         border: 1px solid #768090;
         border-radius: 26px;
         width: 340px;
         height: 50px;
         margin-bottom: 18px;
         padding: 18px;
         font-size: 14px;
         color: #fff;
         line-height: 30px;
         &:nth-child(odd) {
            margin-right: 15px;
         }
         &::placeholder {
            color: #fff;
            line-height: 30px;
         }
      }

      .jq-selectbox__select {
         height: 50px;
         border: 1px solid #768090;
         border-bottom-color: #768090;
         border-radius: 26px;
         background: transparent;
         box-shadow: none;
         color: #fff;
         text-shadow: none;
         width: 700px;
         padding: 10px 18px;
         margin-bottom: 18px;
      }
      .jq-selectbox__trigger-arrow {
         position: absolute;
         top: 22px;
         right: 5px;
         width: 0;
         height: 0;
         border-top: 5px solid #fff;
         border-right: 5px solid transparent;
         border-left: 5px solid transparent;
         color: #fff;
      }
      .jq-selectbox__trigger {
         border-left: none;
         right: 15px;
      }
      .jq-selectbox__dropdown {
         box-sizing: border-box;
         width: 700px;
         margin: 2px 0 0;
         padding: 10px 18px;
         border: 1px solid #768090;
         border-radius: 26px;
         background: transparent;
         box-shadow: none;
         font: 14px "ProximaNova-Bold", sans-serif;
         color: #fff;
      }
   }
   textarea {
      resize: none;
      height: 140px;
      padding: 10px;
      width: 100%;
      margin-bottom: 30px;
   }
   label {
      display: block;
      font-size: 14px;
      color: #fff;
      margin-bottom: 15px;
   }
   button {
      background-color: $orange;
      @include m900;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      align-items: flex-start;
      cursor: pointer;
      padding: 1px 6px;
      border-width: 0px;
      border-style: none;
      border-color: none;
      opacity: 1;
      margin-left: 15px;
      &:nth-child(odd) {
         margin-right: 0px;
      }
   }
}

//end free-quote
//start numbers
.numbers {
   padding: 125px 0 180px;
   position: relative;
   &__line {
      border: 1px solid $orange;
      width: 100%;
      position: absolute;
      top: 394px;
      z-index: -1;
   }
   &__title {
      margin-bottom: 95px;
      &::after {
         content: "";
         height: 1px;
         color: $orange;
         width: 100vh;
      }
   }
   &__inner {
      display: flex;
      flex: 1 0 25%;
      justify-content: space-between;
   }
   &__item {
      text-align: center;
      padding: 0px 35px;
      background-color: #fff;
      & + .numbers__item {
         margin-left: 120px;
      }
   }
   &__item-icon {
      align-items: center;
      margin-bottom: 22px;
      svg {
         min-height: 74px;
      }
   }
   &__item-num {
      @include p900;
      color: $orange;
      font-size: 70px;
      letter-spacing: -2px;
      line-height: 72px;
      margin-bottom: 40px;
   }
   &__item-text {
      font-size: 19px;
      letter-spacing: -1px;
      color: $main;
      text-transform: uppercase;
   }
}
// .Line {
//   border-width: 3px;
//   border-color: rgb(255, 113, 1);
//   border-style: solid;
//   background-color: rgb(255, 228, 0);
//   position: absolute;
//   left: 0px;
//   top: 2905px;
//   width: 1914px;
//   height: 0;
//   z-index: 263;
// }

//end numbers
//start timer
.timer {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 720px;
   opacity: 0.9;
   padding: 105px 0px 85px;
   &__title {
      color: #fff;
      line-height: 40px;
   }
}
//end timer
//start bonus
.bonus {
   padding: 95px 0px 125px;
   text-align: center;
   &__title {
      margin-bottom: 75px;
   }
   &__items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 33px;
   }
   &__item {
      text-align: center;
      position: relative;
      img {
         background-size: contain;
         overflow: hidden;
         background-position: center;
         width: 275px;
         height: 310px;
         margin-top: 25px;
      }
      span {
         display: inline-block;
         width: 146px;
         position: absolute;
         top: 165px;
         padding-bottom: 17px;
         padding-left: 30px;
         &::after {
            content: "";
            position: absolute;
            background-image: url(../images/content/arrow-right.png);
            width: 133px;
            height: 20px;
            top: 50px;
            left: 20px;
         }
         &.bonus__text-up {
            top: 145px;
            &::after {
               content: "";
               position: absolute;
               top: 70px;
            }
         }
      }
   }
   &__text-1,
   &__text-2 {
      font-size: 14px;
      text-transform: uppercase;
      color: $main;
      max-width: 150px;
      text-align: center;
      margin: 0 auto;
   }
   &__text-2 {
      color: $orange;
   }
   &__text-1 {
      margin-bottom: 85px;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         background-image: url(../images/content/arrow-left.png);
         width: 748px;
         height: 99px;
         top: 80px;
         left: -300px;
      }
   }
   p {
      font-size: 22px;
      color: $orange;
      margin: 0 auto;
      max-width: 790px;
   }
}
//end bonus
@import "media";
